body, button, input, select, textarea ,span,p,div,td,th{
	font: 14px/24px "microsoft yahei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","»ªÎÄÏ¸ºÚ","STHeiti","Î¢ÈíÑÅºÚ","Microsoft YaHei",SimHei,sans-serif;
}
.search-form{
	width: 35%;
	height: 100%;
	line-height: 35px;
	float: left;
	margin-left: 15%;
}
.search-form .search-div{
	width: 100%;
	height: 80%;
}
.search-form .search-text{
	float: left;
	height: 31px;
	margin: 20px 0;
	width: 80%;
	background: rgb(255, 255, 255);
	border: 0;
	padding: 0 10px;
}
.search-text:focus{
	border:1px solid rgba(0, 205, 0,.7);
}
.search-form button{
    display: block;
	float: left;
	width:40px;
	height:31px;
	border:none;
	background:rgb(0, 205, 0);
	margin: 19px 0
}
.search-right {
	float: right;
	height: 100%;
	width: 20%;
}
.search-right .head{
	height: 100%;
	height: 33px;

}
.head-box{
	width:150px;
	height: 100%;
}
.search-right .head img{
	margin: 20px auto;
	width: 40px;
	height: 40px;
}
.account-name{
	margin-left: 80px;
}
.account-name a{
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
}
.topslide{
	position: absolute;
	top: 80px;
	right:9%;
	background: rgba(0, 0, 0,0.6);
	height: 200px;
	width: 150px;
/*	padding: 10px 0;
	border-top: 1px solid rgb(242, 242, 242);*/
	display: none;
	z-index: 10000;
}

.topslide ul li{
	height: 40px;
	padding-left: 50px;
}
.topslide ul li a{
	color: #FFFFFF;
	font-size: 20px;
}
.topslide ul li a:hover{
	text-decoration: none;
}
.mem-banner img{
	width: 100%;
}
.wrap-content-1{
	width: 100%;
	margin: 0 auto;
	background: #F5F5F5;
}
.content{
	width: 1100px;
	min-width: 1100px;
	margin: 0 auto;
	background: #F5F5F5;
	position: relative;
	height: 800px;
}
.wrap-content-1 .content-head{
	width: 100%;
    height: 70px;
	background: #F5F5F5;
}
.content-head ul{
	position: absolute;
	top: 20px;
	left: 45%;

}
.content-head ul li{
	float: left;
	padding: 0 20px 20px 0;
}
.content-head ul li a{
	font-size: 20px;
	color: #000000;
	font-weight: 400;
}
.content-head ul li a:hover{
	color: #888888;
	text-decoration: none;
}
.wrap-content-1 .content-head ul li.active a{
	color: #888888;
	text-decoration: none;
}

.content-left{
	float: left;
    background: #FFFFFF;
	border: 1px solid #F5F5F5;
	width: 72%;
}
.content-right{
	width: 23%;
	float: left;
	background: #FFFFFF;
	margin-left: 5%;
	border: 1px solid #F5F5F5;

}
.account-form {
	padding-top: 20px ;
	padding-left: 50px;
}
.account-head{
	width: 145px;
	height: 145px;
	margin: -40px auto 0;
}
.user-level{
	padding: 20px 0;
	text-align: center;
}
.user-level em{
	display: inline-block;
	width: 13px;
	height: 14px;
	background: url(../img/ico.png) no-repeat 0 -139px;
	margin: 0 3px;
}
.tc{
	text-align: center;
	height: 50px;
}
.tc .concern-btn{
	float: left;
	display: block;
	background: rgb(255, 72, 0);
	width: 30%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 10% 0 20%;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.tc .pri-btn{
	float: left;
	display: block;
	background: rgb(191, 191, 191);
	width: 30%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.jianjie {
	text-align: center;
}
.jianjie i {
	color: rgb(255, 110, 104);
	font-size: 20px;
	margin: 0 2px;
}
.txtwrap{
	padding: 15px 0;
	border: 1px solid rgb(242, 242, 242);
	margin: 10px 0;
	border-width: 1px 0;
}
.txtwrap h4{
	 margin: 10px 0;
	 color: rgb(51, 51, 51);
	 text-align: center;
 }
.txtwrap p{
	margin: 10px 0;
	color: rgb(51, 51, 51);
	text-align: center;
}
.txtwrap ul{
	border-bottom: 1px solid rgb(242, 242, 242);
	padding: 10px 0;
	margin-bottom: 10px;
}
.txtwrap ul li{
	float: left;
	position: relative;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	margin: 6px;
}
.txtwrap ul li img{
	width: 50px;
	height: 50px;
}
.baseinfo{
	width: 100%;
}
.baseinfo tbody{
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.baseinfo th {
	font-weight: normal;
	text-align: right;
	color: rgb(153, 153, 153);
	width: 80px;
}
.baseinfo td {
	padding: 8px 5px;
}
.user-photo {
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	margin-right: 40px;
	box-shadow: 0 0 3px rgb(240, 240, 240);
}

.upfilebox .btn-upfile {
	width: 107px;
	height: 27px;
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	background: rgb(255, 72, 0);
	font-size: 14px;
}
.button {
	display: inline-block;
	border: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.mt20 {
	margin-top: 20px !important;
}
.fl {
	float: left !important;
}
.baseinfo .baseipt {
	width: 234px;
	height: 32px;
	border: 1px solid rgb(220, 220, 220);
	padding: 0 5px;
}
.baseinfo .baseinfo-textarea {
	width: 560px;
	height: 84px;
	border: 1px solid rgb(220, 220, 220);
	outline: none;
	resize: none;
}
.baseinfo .btn-save {
	margin: 0 auto;
	width: 160px;
	height: 40px;
	line-height: 40px;
	color: rgb(255, 255, 255);
	background: rgb(255, 72, 0);
	font-size: 18px;
	/* text-align: center; */
}
.baseinfo .right, .choose .right {
	width: 29px;
	height: 27px;
	background-position: -80px -80px;
	margin: 0 10px;
}
.baseinfo .wrong {
	width: 15px;
	height: 15px;
	background-position: -120px -86px;
	margin: 0 10px;
}
.ico {
	background: url(../img/ico.png) no-repeat;
	display: inline-block;
}
.baseinfo .icoimg {
	margin: 23px 15px;
	float: left;
	width: 90px;
	height: 90px;
}
.baseinfo .infotxt {
	padding: 23px 0;
}
.baseinfo .infotxt .btn-bind {
	width: 90px;
	text-align: center;
	height: 28px;
	line-height: 28px;
	background: rgb(255, 72, 0);
	color: rgb(255, 255, 255);
	font-size: 14px;
	text-decoration: none;
}
.plmain{
	padding: 15px;
	background: rgb(249, 249, 249);
	border: 1px solid rgb(242, 242, 242);
}
.plmain .textarea_input {
	width: 100%;
	height: 88px;
	border: 1px solid rgb(246, 246, 246);
	background: rgb(255, 255, 255);
	margin: 10px 0;
}
.plmain .textarea_input textarea {
	width: 100%;
	height: 100%;
	resize: none;
	line-height: 20px;
	border: 0;
}
.plmain .plm span {
	color: rgb(153, 153, 153);
}
.fr {
	float: right !important;
}
.plmain .plm a {
	color: rgb(160, 205, 78);
	display: inline-block;
	margin-left: 5px;
}
.plmain .tool_submit .button {
	width: 100px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: rgb(255, 72, 0);
	color: rgb(255, 255, 255);
	font-size: 14px;
}
.tr {
	text-align: right !important;
}
.mt30 {
	margin-top: 30px !important;
}
.comment-list .post-header {
	line-height: 25px;
	font-size: 14px;
	margin-bottom: 5px;
}

.message .comment-list .np-post {
	padding-left: 100px;
}
.comment-list .np-post {
	position: relative;
	padding: 25px 0 25px 80px;
	vertical-align: top;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.comment-list .np-post .fans {
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	left: 0;
	top: 25px;
	overflow: hidden;
}
.message .comment-list .post-header .name {
	color: rgb(138, 194, 82);
}
.img img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.comment-list .post-header .reply, .comment-list .post-header .dele {
	display: inline-block;
	float: right;
	color: rgb(160, 205, 78);
	margin-left: 10px;
}
.page {
	height: 30px;
	padding: 20px 0;
	text-align: center;
	height: 50px;
	margin-bottom: 50px;
}
.mt20 {
	margin-top: 20px !important;
}
.page span, .page a {
	display: inline-block;
	border: 1px solid rgb(228, 228, 228);
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 4px;
	text-decoration: none;
}
.page span, .page a {
	display: inline-block;
	border: 1px solid rgb(228, 228, 228);
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 4px;
	text-decoration: none;
}
.page span, .page a.active, .page a:hover {
	color: rgb(255, 255, 255);
	background: rgb(255, 72, 0);
	border-color: rgb(255, 72, 0);
}
.comment-list .post-content {
	font-size: 12px;
	color: rgb(102, 102, 102);
	line-height: 24px;
}
.comment-list .post-header .reply {
	display: inline-block;
	float: right;
	color: rgb(160, 205, 78);
	margin-left: 10px;
}
.comment-list .post-header .time {
	color: rgb(153, 153, 153);
}
a {
	color: rgb(51, 51, 51);
	text-decoration: none;
}
.comment-list .post-header {
	line-height: 25px;
	font-size: 14px;
	margin-bottom: 5px;
}
.comment-list .post-header .name {
	display: inline-block;
	margin-right: 10px;
}
.comment-list .post-header .reply em {
	font-size: 18px;
}
.comment-list .post-header .reply a {
	color: rgb(160, 205, 78);
}
.post-body{
	padding: 20px;
}
.comment-list .np-post a{
	margin-left: 20px;
}
.fans {
	padding: 20px 0;
	margin: 0 5px;
}
.fans li {
	padding: 15px 35px 15px 130px;
	border-bottom: 1px dotted rgb(230, 230, 230);
	height: 75px;
	position: relative;
	margin: 40px auto;
}
.fans .img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	left: 35px;
	top: 15px;
}
.fans .fansinfo {
	padding-top: 10px;
}
.fans .Status {
	height: 30px;
	position: absolute;
	right: 35px;
	top: 50%;
	margin-top: -15px;
}
.fans .fansinfo .female {
	width: 20px;
	height: 21px;
	background-position: -80px -131px;
}
.fans .fansinfo .male {
	width: 15px;
	height: 16px;
	background-position: -118px -134px;
}
.fans .fansinfo em {
	display: inline-block;
	vertical-align: middle;
	text-indent: 999px;
	overflow: hidden;
	margin-left: 5px;
}
.fans .Status a {
	display: inline-block;
	margin-left: 20px;
	text-align: center;
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}


.fans .Status a.follow-btn {
	background: rgb(255, 72, 0);
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.fans .Status a.Private-letter {
	background: rgb(191, 191, 191);
}
.Status .Pull{
	background: #204d74;
}
.pd30 {
	padding: 30px !important;
}
.Participate .item {
	position: relative;
	padding: 30px 0;
	padding-left: 100px;
	border-bottom: 1px solid rgb(229, 229, 229);
	min-height: 75px;
}
.Participate .item .bd {
	padding: 20px;
	background: rgb(249, 249, 249);
	border: 1px solid rgb(242, 242, 242);
	position: relative;
	min-height: 162px;
}
.Participate .item .Activity-img {
	width: 251px;
	height: 162px;
	position: absolute;
	left: 40px;
	top: 40px;
	display: table-cell;
	vertical-align: middle;
}
.Activity-img img {
	width: 200px;
	height: 120px;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.Participate .item .title {
	height: 28px;
	line-height: 25px;
	font-size: 16px;
	color: rgb(51, 51, 51);
}
.Participate .item .info {
	line-height: 24px;
	max-height: 96px;
	overflow: hidden;
	font-size: 14px;
	color: rgb(102, 102, 102);
}
.Participate .item .txt {
	padding-left: 270px;
	min-height: 162px;
}
.Participate .item input{
	border: 1px rgb(221, 221, 221) solid;
	padding: 5px;
	width: 60px;
	margin: 0 15px;
	color: #000000;
}
.Participate .item .price em{
	color: red;
	font-size: 16px;
}

.content-left .suan {
	width: 100%;
	height: 80px;
	background: #F5F5F5;
	position: relative;
	border: 1px solid #adadad;
}
.content-left .suan .choose{
	float: left;
	line-height: 80px;
	margin-left: 30px;
}
.content-left .suan .right{
	float: right;
	line-height: 80px;
	margin-right: 50px;
}
.content-left .suan .go-shop{
	height: 40px;
	width: 80px;
	font-size: 16px;
	border-radius: 10px;

}


