.geren{
	width: 1000px;
	background: rgba(0,0,0,0.2);
	margin: 50px auto 100px;
}
.geren .head{
	float: right;
	width: 250px;
	height: 250px;
	margin-top: 80px;
	margin-right: 50px;
}
.geren .head img{
	width: 100%;
}
.geren .gereninfo{
	float: left;
	width: 510px;
	margin-left: 50px;
	margin-top: 40px;
}
.geren .gereninfo h2{
	font-size: 24px;
	color: #fff;
	border-bottom: 1px solid #959595;
	height: 50px;
	line-height: 50px;
	margin-bottom: 25px;
}
.geren .gereninfo div{
	width: 100%;
	margin: 15px 0;
}
.geren .gereninfo div label{
	font-size: 18px;
	color: #999;
	font-weight: normal;
}
.geren .gereninfo div span{
	font-size: 16px;
	color: #666;
}
.clear{
	clear: both;
}
.geren-intd{
	padding: 50px;
}
.geren-intd h2{
	color: #999;
	font-size: 18px;
	margin-bottom: 15px;
}
.geren-intd p{
	/*text-indent: 2em;*/
	text-align: justify;
	font-size: 14px;
	line-height: 30px;
	margin: 20px 0;
	color: #999;
}
