html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font-family: "Microsoft Yahei"; font-size: 12px;background-color:black;}
body{font-family: "Microsoft Yahei"; font-size: 15px;}
img{border:none;}
em,strong{font-style:normal;font-weight:normal;}
ul li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}


q:before,q:after{content:'';}
button,input,select,textarea{font-size:100%; outline:none}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
address,cite,dfn,em,var{font-style:normal;}

/* link */
a{color:#36c;text-decoration:none;}
a:hover{color:#0d65ab;text-decoration:none;}