.nav-box{

background-color:#24211E;
}
/*第二部分第二大块  */
#service-main{
    width:100%;
    background:#24211E url("../img/bg.png");
}
/*第二部分第二大块容器*/
#service-cont{
    width:100%;
    background:#fff;
}
#service-main-box{
    width:70%;
    margin:0 auto;
    min-height:200px;
}
/*第二部分第二大块文字*/

/*剪切到公共部分*/
/*第二部分第二大块图文*/
#service-main-img-write,#bprGroup{
    width:90%;
    display:flex;
    padding-bottom:50px;
    margin:0 auto;
    margin-top:10px;
}
div.img-write,div.bpr-commen{
    background:#fff;
    padding-bottom:20px;
    border-radius:3px;
}
div.img-write:nth-child(2),div.bpr-commen:nth-child(2){
    margin-left:25px;
    margin-right:25px;
}
div.img-write>div{
    border:1px solid rgba(0,0,0,0.2);
    border-radius:10px;
}
div.img-write>div img{
    border-radius:10px;
}
#service-main-img-write div.img-write h3,#bprGroup .bpr-commen>div h3{
    padding:20px 0;
    text-align:center;
    font-weight:bold;
    font-family:'Satisfy', cursive;
    color:#80cc0c;
    text-shadow:2px 2px 1px #00cd00;
    font-size: 28px
}
#service-main-img-write div.img-write p{
    height:100px;
    overflow:hidden;
    line-height:25px;
    box-sizing:border-box;
    margin-bottom:10px;
}
/*自助餐、音乐、房间*/

#bprGroup i{
    display: block;
    width:50px;
    height:50px;
    text-align:center;
    margin:0 auto;
    color:#80CC8C;
    font-size:50px;
}
#bprGroup .bpr-commen{
    margin-top:30px;
}
#bprGroup .bpr-commen>div{
    /*padding-top:30px;*/
}
#bprGroup .bpr-commen>div h3{
    color:#80cc0c;
}
#bprGroup .bpr-commen p{
    line-height:25px;
    height:120px;
    overflow:hidden;
}
/* 第二部分第三大块网格大块*/
#service-containt{
    background:#24211E url("../img/bg.png");
    width:100%;

}
#service-middle-main-box{
    width:80%;
    margin:0 auto;
    background:#24211E url("../img/bg.png");
}
.main-box-row{
    width:100%;
    overflow:hidden;
    padding-top:80px;
    /*padding-bottom:100px;*/

}
.main-box-row div.grid-box{
    width:25%;
    float:left;
}
div.grid-box .grid-box-top{
    width:120px;
    height:120px;
    background:#80cc8c;
    border-radius:50%;
    margin:0 auto;
    text-align: center;
    position:relative;
}
div.grid-box-top::before{
    content:"";
    width:100%;
    height:100%;
    /*#80cc61 #d43f3a*/
    background:#80cc0c;
    border-radius:50%;
    -webkit-border-radius:50%;
    position:absolute;
    top:0;
    left:0;
    transform:scale(0);
    transition:all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index:10;

}
div.grid-box:hover .grid-box-top::before{
    transform:scale(1);
}
.grid-box-top i{
    color:#fff;
    font-size:2em;
    text-align:center;
    margin-top:1.5em;
    z-index:9999;
}
.grid-box h5{
    text-align:center;
    font-size:3em;
    color:#80CC0C;
    text-shadow:2px 2px 1px #00cd00;
}
.grid-box h6{
    text-align:center;
    font-size:1.5em;
    color:#80CC0C;
    text-shadow: 2px 2px 1px #00cd00;
    margin-bottom:30px;
    line-height:20px;
    margin-top:15px;
}
